/* 
    Document   : style.css
    Created on : Apr 4, 2012, 3:03:32 PM
    Author     : Vicheslav.Poddubsky
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

