html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, menu,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
html {height: 100%; background-color: #f2eedd}
header, nav, section, article, aside, footer {display: block;}
body {font: 12px/18px Georgia, sans-serif; min-width: 960px; color: #424242; height: 100%; background: #f2eedd url(../images/top-gd.jpg) 0 0 repeat-x}

input[type="radio"], input[type="checkbox"]{position: relative; top: -2px; margin: 0 4px 0 0}

#wrapper {min-width: 960px;max-width: 1600px;margin: 0 auto;min-height: 100%;height: auto !important;height: 100%;}
#header {height: 260px; background: url(../images/header.jpg) 80% 0px no-repeat; position: relative }
#middle {width: 100%;padding: 0 0 165px;height: 1%;position: relative;}
#middle:after {content: '.';display: block;clear: both;visibility: hidden;height: 0;}
#container {width: 100%;float: left;overflow: hidden;}
#content {padding: 0 270px 0 270px;}
#sideLeft {float: left;width: 230px; padding: 0 0 0 10px; margin-left: -100%;position: relative;}
#sideRight {float: left;margin-right: -3px;width: 230px; margin-left: -240px;position: relative;}
#footer {margin: -165px auto 0; min-width: 960px; height: 165px; background: #fff url(../images/bottom-gd.png) 0 100% repeat-x;}
#footer .container{max-width: 1600px; position: relative; height: 100%; margin: 0 auto;}
.no-right-aside #content{padding: 0 10px 0 270px;}

.clear{clear:both; font-size:1px; height: 0; line-height:0;}
a{ outline: none; text-decoration: none; color: #187496;}
a img{border: none}
a:hover{text-decoration: underline; color: #22a5d5}
a:visited{color: #a99494}
p {margin: 0 0 10px}
img {border: none;}
input {vertical-align: middle;}
.full-width{width: 100%}
.full, .fixed{width: 100%; margin: 0 -100% 0 0; float: left}
.full .ratio-block, .fixed .ratio-block{position: relative}
.no-markers{list-style: none}
.left{float: left;}
.right{float: right;}
.align-center{text-align: center}
.align-left{text-align: left}
.align-right{text-align: right}

article{clear: both; margin-bottom: 20px; overflow: auto;}
article img{border: 2px solid #fff;}
h2{display: block; background: #fff; font-style: italic; font-weight: normal; color: #7a4343; font-size: 18px; padding: 10px 10px; margin-bottom: 10px; border-radius: 7px}
h4{display: inline; background: none; padding: 0; font-style: italic; font-weight: normal; color: #7a4343; font-size: 18px}

.top-controls menu li.search-form{float: right; position: relative}
.search-form input[type="search"]{position: absolute; top: 12px; right: 50px; box-shadow: inset 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: inset 2px 2px rgba(0,0,0,0.3); -webkit-box-shadow: inset 2px 2px rgba(0,0,0,0.3); min-width: 180px; background-color: #d8e0e2; border: 1px solid #fff; border-radius: 12px; padding: 5px 8px; font: 12px Georgia; color: #828282}
.search-form input:-moz-placeholder{color: #828282; font: italic 12px Georgia;}
.search-form button{background: url(../images/icons.png) 1px 0px no-repeat; width: 32px; height: 26px; padding: 0; position: absolute; top: 12px; right: 11px; cursor: pointer}
.search-form button:hover{background-position: 1px -29px}

.logo{display: block; position: absolute; bottom: 80px; left: 20px}
.logo a{display: block; font: italic 24px Georgia; color: #56686f; background: url(../images/logo.png) 0 0 no-repeat; padding: 85px 0 0; width: 212px;}
.logo a:hover{text-decoration: none}

.login-box{position: absolute; right: 11px; bottom: 15px; font: italic 12px Georgia; color: #7a4343;}
.login-box a{color: #7a4343;}

.top-controls{position: absolute; font: italic 14px Georgia; width: 75%; bottom: 40px; right: 6px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border: 5px solid rgba(0,0,0,0.06);}
.top-controls menu{background: url(../images/top-menu-gd.png) 0 0 repeat-x; float: left; width: 100%; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
.top-controls menu li{float: left; display: inline-block;}
.top-controls menu li.last a{padding-right: 0; background: none}
.top-controls menu a{height: 16px; text-align: center; text-decoration: none; color: #4b5e65; display: inline-block; padding: 17px 13px; background: url(../images/menu-sp.png) 100% 0 no-repeat}
.top-controls menu a:hover, .top-controls menu a.active{color: #7a4343}

.module{font-size: 14px; margin-bottom: 10px;}
#sideLeft .module{font-style: italic}
.module h3{background: url(../images/module-gd.png) 0 0 repeat-x; font-style: normal; margin-bottom: 10px; padding: 9px 0 9px 15px; font-weight: normal; border-radius: 3px; color: #fff; font-size: 16px;  text-shadow: 1px 1px 0 #333; -webkit-text-shadow: 1px 1px 0 #333; -moz-text-shadow: 1px 1px 0 #333}
.module menu li{ padding: 3px 0 3px 0; list-style: none }
.module menu > li{border-bottom: 1px dashed #c9c5b3;}
.module menu li.last{border: none}
.module menu ul li{padding-left: 20px}
.module menu a{color: #7a4242; display: inline-block; background: url(../images/menu-arrows.png) 0 -87px no-repeat; padding: 0 0 0 20px}
.module menu a:hover, .module menu a.active{color: #4b5e65; text-decoration: none; background-position: 0 6px}
.links-list li{padding: 3px 0 3px 5px}
.links-list a{color: #187496;}
.links-list a:hover{color: #22a5d5; text-decoration: none}
.files-list li{padding: 5px 25px 7px 5px; border-bottom: 1px dashed #c9c5b3; position: relative}
.files-list li.last{border: none}
.files-list a{color: #7a4343;}
.files-list a:hover{color: #4b5e65; text-decoration: none}
.files-list .icon{position: absolute; top: 4px; right: 6px}
.weather h5{background: #fff; border-radius: 5px; padding: 3px 0 3px 10px; font-size: 12px; font-weight: normal}
.weather p{clear: both; height: 20px; padding: 5px 0; margin: 0}

.news-block{margin: 0 0 20px 0;}
.news-block article{padding: 0 0 0 10px}
.news-block h3{color: #187496; margin-bottom: 6px;}
.news-block time{color: #8c8c8c; font-size: 12px; display: block; margin-bottom: 6px}
.news-block p{display: inline}
.news-block a{color: #187496}

.contacts-widget{position: absolute; top: 15px; left: 10px}
.contacts-widget h4{display: block}
.contacts-widget ul, .column-data ul{float: left; margin: 10px 20px 10px 0}
.contacts-widget li, .column-data li{padding: 6px 0}
.contacts-widget span, .column-data span{padding: 3px 0 3px 25px; position: relative}
.contacts-widget span .icon, .column-data span .icon{position: absolute; top: 0; left: 0}
#footer .copyright{position: absolute; bottom: 10px; left: 10px; color: #888888}
#footer .counter{position: absolute; bottom: 10px; right: 10px;}

.button{background: url(../images/buttons.png) 100% 0 no-repeat; top: 1px; cursor: pointer; outline: none; overflow: visible; border: 0; position: relative; height: 33px; padding: 0 10px 0 0; line-height: 30px; display: inline-block; position: relative}
.button:hover{text-decoration: none}
.button span{color: #fff; background: url(../images/buttons.png) 0 0 no-repeat; position: relative; padding: 0 5px 0 15px; height: 33px; display: inline-block; text-shadow: 1px 1px 0 #333; -webkit-text-shadow: 1px 1px 0 #333; -moz-text-shadow: 1px 1px 0 #333;}

.button-green{background-position: 100% 0}
.button-green span{background-position: 0 0}
.button-green:hover{background-position: 100% -50px}
.button-green:hover span{background-position: 0 -50px}
.button-green:active{background-position: 100% -101px}
.button-green:active span{background-position: 0 -101px}

.icon{width: 20px; height: 20px; background: url(../images/icons.png) 0 0 no-repeat; top: 5px; display: inline-block; position: relative}
.icon-pdf{background-position: -38px -2px}
.icon-mobile-phone{background-position: -64px -2px}
.icon-email{background-position: -112px -2px}
.icon-skype{background-position: -87px -2px}

input[type="text"], 
input[type="password"], 
input[type="email"], 
textarea{padding: 7px 5px; border: 0; background-color: #fff; border-radius: 5px; box-shadow: inset 2px 2px rgba(0,0,0,0.3); }

/*button FF hac*/
button{position: relative; border: none;}
button::-moz-focus-inner { padding:0; border:0;}
button span { position: absolute; top:0; left:0;}

.gallery ul{display: inline-block; margin: 0 auto}
.gallery li{float: left; margin: 0 10px 10px 0}
.gallery li:last-child{clear: right}

.pagination{background: #fff; padding: 5px 10px; border-radius: 5px; text-align: center}
.pagination span{color: #888; padding: 3px 5px}
.pagination a{color: #888; padding: 3px 5px}
.pagination a:hover, .pagination a.active{background: #57accf; border-radius: 3px; color: #fff; text-decoration: none}
.pagination a.side{padding: 3px}
.pagination a.side:hover, .pagination a.side.active{background: none; color: #187496}

.breadcrumbs{position: absolute; bottom: 10px; left: 10px; color: #888}
.breadcrumbs a{color: #888}
.breadcrumbs span{color: #7a4343}

.feedback input, .feedback textarea{width: 285px}

.vertical-form dt{clear: both; width: 150px; text-align: right; float: left; margin: 0; padding: 10px 10px 0 0}
.vertical-form dd{ float: left; padding: 5px 10px}
.vertical-form button{margin: 10px 0 0 170px}

.width-middle{width: 150px}
.width-big{width: 285px}

